@media screen and (min-width: 800px){}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(100px, auto);
    max-width: 100%;
}
img{
    max-width: 100%;
}
p{
    font-size: 2vw;
    text-align: center;
}
.shoes{
    border: 1px solid rgb(42, 42, 42)

}